name: Unit Tests
on: [push, pull_request]


jobs:
  node_matrix:
    uses: appium/appium-workflows/.github/workflows/node-lts-matrix.yml@main

  test:
    needs:
    - node_matrix
    strategy:
      matrix:
        node-version: ${{ fromJSON(needs.node_matrix.outputs.versions) }}
      # TODO: Remove after node 22.5.0 is fixed
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true
    - uses: SocketDev/action@v1
      with:
        mode: firewall-free
    - run: sfw npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint
      name: Run linter
    - run: npm run format:check
      name: Run Prettier check
    - run: npm run test
      name: Run unit tests
